#sobre-container {
    width: 100vw;
    min-height: 100vh;
    background: #232323;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    box-sizing: border-box;
  }
  
  #sobre-box {
    width: 70vw;
    background: #232323;
    border: 3px solid #959595;
    border-radius: 20px;
    padding: 40px;
    color: #f0f0f0;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
  }
  
  #sobre-box h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #fff;
  }
  
  #sobre-box p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  #sobre-box li {
    text-align: start;
    margin-bottom: 5px;
  }
 
  
  
  